<article>
    {{!-- <a href="/dashboard" class="dashboard-return">Go Back to Dashboard</a> --}}
    <h2 class="page-name">Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <input name="post-body" type="text" id="post-body" value="{{post.post_body}}" />
            {{!-- <textarea name="post-body" id="postBody" value="{{post.post_body}}"></textarea> --}}
        </div>
        <div>
            <span class="post-credit">Posted by you on {{format_date post.created_at}}</span>
            </br>
            <a href="/post/{{post.id}}" class="comment-count">{{post.comments.length}} comment(s)</a>
        </div>
        <button type="submit" class="btn">Save Post</button>
        <button type="button" class="delete-post-btn btn">Delete Post</button>
    </form>
    
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </form>

    {{> comments post.comments}}

</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>